* {
    margin: 0px;
    padding: 0px;
}

/* px */
/* h1
{
    font-size:32px;
    border : 2px solid red;
    width:50%;
}
header
{
    width:50%;
    border : 3px solid blue;
} */

/* ch */
/* 
p{
    width : 50ch;
} */

/* vw - view width */
/* p {
    background-color: aqua;
    width: 10vw;
    /* width: 70%; 
} */

/*  vh - view height */
/* p{
    font-size: 25px;
    height : 100vh;
} */

/*  1 rem = 16px */
/* em - (element size)  */
/* header {
    font-size: 16px;
    font-weight: bold;
}   

h1 {
    font-size: 2rem;
} */