   * {
            margin: 10;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: whitesmoke;
        }

        h1 {
            color: blue;
            text-align: center;
            text-transform: uppercase;
            /* text-decoration: underline;
            text-decoration: overline;
            text-decoration: line-through; */
            text-decoration: none;
            letter-spacing: 2ch;
            line-height: 10ch;

            text-shadow: 2px 3px 5px rgb(241, 16, 16);
        }

        p {
            color: rgb(49, 8, 46);
            text-align: right;
            /* text-transform: lowercase; */
            text-transform: capitalize;
            word-spacing: 2ch;
        }

        a {
            text-decoration: overline;
        }

        h2 {
            width: 300px;
            text-wrap: nowrap;
            overflow: hidden;
            /* text-overflow: clip; */
            text-overflow: ellipsis;
        }

        div {
            width: 70%;
            /* word-break: break-all; */
            /* word-break: keep-all; */
            word-break: normal;
            border: 2px solid red;
            text-indent: 10px;
        }