body 
{
    background-color: rgb(0, 0, 0);
}
.box
{
    height:100px;
    width:100px;
    border: 2px solid greenyellow;
    background-color: rgb(28, 1, 29);
}

/* * simple shadow */
/* .box
{
    box-shadow:10px 10px gray;
} */

/* * Blur shadow */
/* .box
{
    box-shadow: 5px 5px 4px rgb(18, 17, 17);
} */

/* * spread shadow */
/* .box
{
    box-shadow: 5px 5px 5px 2px rgb(18, 17, 17);
} */

/* * negative shadow */
/* .box
{
    box-shadow: -5px -5px 10px  rgb(18, 17, 17);
} */

/* * bottom shadow */
/* .box
{
    box-shadow: 0px 10px 5px rgb(18, 17, 17);
} */

/* * center glow */
/* .box
{
    box-shadow: 0 0 20px rgb(3, 3, 253);;
} */


/* * multiple shadows */
/* .box
{
    box-shadow: 5px 5px 10px blue, -5px -5px 10px rgb(250, 246, 0) ;
} */

/* * inset shadow */
/* .box
{
    box-shadow: inset 5px 5px 10px rgb(3, 3, 253);
} */

.box
{
    box-shadow: 0px 15px 20px white;
}

button{
    background-color: black;
    color: yellowgreen;
    width:30vw;
    height:10vh;
    border : 2px solid rgb(147, 143, 143);
    border-radius : 10px;
    box-shadow: 0px 0px 30px rgb(255, 0, 0);
}


/* top shadow : 0 -5px
left shadow : -5 0
right shadow : 5 0 */